altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
fastapi
uvicorn[standard]
pydantic

groq

langchain
langchain-community
faiss-cpu
sentence-transformers
torch

GitPython
gitdb

fonttools
kiwisolver
matplotlib
seaborn
plotly

numpy
pandas
scikit-learn
scipy
xgboost
joblib

Pillow
protobuf
pyarrow
pydeck

requests
urllib3
idna

rich
markdown-it-py
mdurl
Pygments

python-dateutil
pytz
tzdata
tzlocal

packaging
six
tenacity
toolz
typing_extensions
validators
watchdog
zipp

streamlit
streamlit-option-menu

fastapi
uvicorn[standard]
pydantic

scikit-learn
xgboost
joblib
pandas
numpy


groq


langchain
langchain-community          
faiss-cpu                    
sentence-transformers        
torch                        

